@import 'keyboard.scss';

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  background-color: bisque;
  min-height: 90vh;
}

.output {
  display: block;
  &__textarea {
    display: block;
    width: 100%;
    height: 22vh;
    padding: unset;
    background-color: black;
    color: #3dbf42;
    font-size: 18px;
  }
  padding: 2vh;
}